## editors
/.idea
/.vscode

## system files
.DS_Store

## npm
node_modules/
npm-debug.log

## testing
/coverage/

## temp folders
/.tmp/

# build
/_site/

# Webpack build stats
*stats.json

*.log

.DS_Store
yarn.lock
package-lock.json
